:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('@/shared/fonts/Inter.woff2') format('woff2'),
    url('@/shared/fonts/Inter.ttf') format('truetype');
}

body {
  margin: 0;
}
